* {
  text-align: center;
}

body {
  background-color: azure;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  margin-left: 600px;
  text-align: left;
  position: relative;
}

a:visited {
  color: blue;
}

#flag1 {
  top: 0px;
  right: 0px;
  height: 150px;
  width: 300px;
  margin: auto;
  float: left;
}

#flag2 {
  top: 0px;
  left: 0px;
  height: 150px;
  width: 300px;
  margin: auto;
  float: right;
}

#Wash {
 
}