
body {
  background-color: azure;
  text-align: center;
}

header {
  width: 60%;
  margin: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: auto;
  padding: 10px;
  width: 50%;
}

li {
  padding: 2px;
  text-align: left;
}

h2 a:visited {
  color: blue;
}

#Washington {
  width: 60%;
  min-width: 300px;
  margin: 10px;
}

#flag1 {
  height: 150px;
  width: 15%;
  float: left;
}

#flag2 {
  height: 150px;
  width: 15%;
  float: right;
}

footer {
  font-size: 3.5em;
  text-align: center;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: white;
  background-color: navy;
}
